body{
  background-color: #b3e5fc ;
}
.jumbotron {
	width: 1200px;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
    border-radius: 2em;
}
.table {
    margin-top: 50px;
}
.form-control {
	margin-bottom: 5px;
}
.selecionado {
	background-color: #80cbc4;
}
.negrito {
	font-weight: bold;
}
.top{
  background-image: linear-gradient(100deg, #72EDF2 10%, #68C1EE 100%);
}
#titulo{
  margin-top: -1px;
  margin-bottom: 40px;
  font-weight: bold;
}